html{
    margin: 0px;
    border: 0px;
}

body{
    margin: 0px;
    border: 0px;
    background-color: #484848;
}

h2{
    margin-top: 8px;
    margin-bottom: 12px;
}

p{
    margin-top: 8px;
    margin-bottom: 12px;
    font-size: 18px;
}

li{
    font-size: 16px;
}

table{
    width: 100%;
}

td{
    width: 25%;
}

.code{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    font-weight: bold;
    text-align: left;
    padding-left: 16px;
    margin-top: 16px;
    margin-bottom: 20px;
    color: #484848;
}

.bold{
    font-weight: bold;
    font-size: 20px;
}

a{
    color: #410037;
}

span{
    text-decoration: underline;
}

#note{
    text-decoration: none;
}

.crash{
    color: #D80000;
    text-decoration: none;
}

button{
    background: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    font-size: 23px;
    padding: 8px 12px 8px 12px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
}

button:hover{
    background: #484848;
    display: inline-block;
    cursor: pointer;
    font-size: 23px;
    border: 2px solid #484848;
    padding: 8px 12px 8px 12px;
    color:white;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
}

#main{
    text-align: center;
    margin: 0px;
}

#header{
    width: 100%;
    padding-top: 8px;
    padding-bottom: 4px;
    background-color: #410037;
}

#logo{
    height: 228px;
    width: 640px;
}

#container{
    background-color: #FFFFFF;
}

#menu{
    margin: auto;
    padding: 8px 8px 4px 8px;
}

#content{
    margin: auto;
    padding-bottom: 8px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

#line{
    height: 2px;
    width: 100%;
    background-color: #8B8B8B;
    margin-bottom: 8px;
}

#table{
    margin: 0px;
    padding: 0px;
}

#table{
    border: 1px solid #484848;
    text-align: left;
}

#table td{
    border: 1px solid #484848;
    width: auto;
    padding: 4px;
}

#heder{
    width: 20%;
}

#table th{
    border: 1px solid #484848;
    padding: 4px;
    color: white;
    background-color: #242424;
}

#footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
}